<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenCatan | Catan</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/css/genCatanIco.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/catan_page.css">

    <script src="https://unpkg.com/@free-side/audioworklet-polyfill/dist/audioworklet-polyfill.js"
        type="text/javascript"></script>
    <script src="{{url_for('static', filename='/js/libraries/p5.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/libraries/p5.sound.min.js')}}"></script>

</head>

<body>
    <div>
        <script>
            let ipAddr = "{{ip_addr}}";
        </script>
        <script src="{{url_for('static', filename='/js/genCatan.js')}}"></script>
        <script src="{{url_for('static', filename='/js/classes/hex.js')}}"></script>
        <script src="{{url_for('static', filename='/js/classes/road.js')}}"></script>
        <script src="{{url_for('static', filename='/js/classes/city.js')}}"></script>
        <script src="{{url_for('static', filename='/js/classes/utils.js')}}"></script>
    </div>
</body>

</html>