html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    overflow: hidden;
}

main {
    overflow: hidden;
    width: 100vw;
    height: 100vw;
}

* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    color: white;
}

.button {
    display: block;
    justify-content: center;
    top: 50%;
    background-color: #343436;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    margin: 50px;
}

.button:hover {
    background-color: #5a01a7;
    transition: 0.7s;
}

.button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
